
:root {
  /* Modo Oscuro */
  --color-white: white;
  --color-black: black;
  --color-orange: #D47900;
  --color-orange-hover: #FF9200;
  --color-title: #FFA500;
  --color-overlay: #D47900;
  --background-dark: #101010;
  --background-darker: #1C1C1C;
  --background-overlay: rgba(28, 28, 28, 0.9);
  --background-footer: rgb(28, 28, 28);
  --background-button: #61441D;
  --background-button-hover: #D47900;
  /* esta modal es de los comentarios de las publicaciones / o la alerta de borrar una publicación */
  --background-modal: rgba(0, 0, 0, 0.7);
  --background-modal-content: #101010;
  --background-comentarios: black;
  /* Modo Claro */
  --background-light: #E0E0E0;
  --background-lighter: #F1F1F1;
  --background-white: #FFFFFF;
  --color-blue: #0692D3;
  --color-blue-hover: #065FD3;
  --color-gray: #9A9A9A;
}
.light-mode2 .img {
  background: var(--background-light) !important;
}
.light-mode2 body {
  color: var(--color-black);
}
.light-mode2 .titulo {
  color: var(--color-black);
}
.light-mode2 .nav-main {
  background-color: var(--background-white);
  border-bottom: 1px solid var(--background-light);
}
.light-mode2 .nav-orange {
  color: var(--color-blue);
}
.light-mode2 .nav-main .nav-menu-mid li a:hover {
  border-bottom: 2px solid var(--color-blue);
}
.light-mode2 .nav-login {
  color: var(--color-black);
}
.light-mode2 .nav-login:hover {
  color: var(--color-blue-hover);
}
.light-mode2 .nav-secondary {
  background-color: var(--background-white);
  border-bottom: 1px solid var(--background-light);
}
.light-mode2 .nav-white {
  color: var(--color-black);
}
.light-mode2 .nav-white2 {
  color: var(--color-black);
}
.light-mode2 .container2 {
  background: var(--background-white);
}
.light-mode2 .titulo-h1 {
  color: var(--color-blue);
}
.light-mode2 .titulo-h1-x {
  color: var(--color-blue);
}
.light-mode2 .titulo-hr {
  border-top: 4px solid var(--color-blue);
}
.light-mode2 .search-select {
  background-color: var(--color-white);
  border: 1px solid var(--color-blue);
  color: var(--color-black);
}
.light-mode2 .search-input {
  background-color: var(--color-white);
  border: 1px solid var(--color-blue);
  color: var(--color-black);
}
.light-mode2 .search-button {
  background-color: var(--color-blue) !important;
  color: var(--color-white) !important;
}
.light-mode2 .search-button:hover{
  background-color: var(--color-blue-hover) !important;
  color: var(--color-white) !important;
}
.light-mode2 .photo_overlay em {
  color: var(--color-blue);
}
.light-mode2 .photo_overlay p {
  color: var(--color-blue);
}
.light-mode2 .noticia h2 {
  color: var(--color-blue);
}
.light-mode2 .galeria .noticia:hover h2 {
  color: var(--color-blue-hover);
}
.light-mode2 .noticia p {
  color: var(--color-black);
}
.light-mode2 .galeria .noticia .estado {
  color: var(--color-blue);
}
.light-mode2 .pagination-text {
  color: var(--color-black);
}
.light-mode2 .pagination-link {
  color: var(--color-blue);
}
.light-mode2 .footer {
  background-color: var(--background-white);
}
.light-mode2 .footer-social a {
  color: var(--color-blue);
}
.light-mode2 .footer-social a:hover {
  color: var(--color-blue-hover);
}
.light-mode2 .info-divider {
  border-left: 1px solid var(--color-black);
  border-color: var(--color-blue);
}
.light-mode2 .footer-info h5 {
  color: var(--color-black);
}
.light-mode2 .footer-info p {
  color: var(--color-black);
}
.light-mode2 .galeria-title {
  color: var(--color-blue);
}
.light-mode2 .autor-name {
  color: var(--color-black);
}
.light-mode2 .autor-date {
  color: var(--color-black);
}
.light-mode2 button[type="submit"] {
  background-color: var(--color-blue);
  color: var(--color-white);
}
.light-mode2 button[type="submit"]:hover {
  background-color: var(--color-blue-hover);
}
.light-mode2 .comentarios-header {
  background-color: var(--color-blue);
}
.light-mode2 .titulo-comentarios {
  background-color: var(--color-blue);
  color: var(--color-white);
}
.light-mode2 .comentarios {
  background-color: var(--background-lighter);
  color: var(--color-black);
}
.light-mode2 .noticia-title {
  color: var(--color-blue);
}
.light-mode2 .noticia-subtitle {
  color: var(--color-black);
}
.light-mode2 .autor-line {
  background-color: var(--color-black);
}
.light-mode2 .noticia-info {
  color: var(--color-black);
}
.light-mode .modal {
  background-color: var(--background-modal);
}
.light-mode2 .modal-content {
  background-color: var(--background-lighter);
  box-shadow: var(--color-white);
  color: var(--color-black);
}
.light-mode2 .close {
  color: var(--color-blue);
}
.light-mode2 .comentario-form input[type="text"],
.light-mode2 .comentario-form input[type="email"],
.light-mode2 .comentario-form textarea {
  background-color: var(--color-white);
  border: 1px solid var(--color-blue);
  color: var(--color-black);
}
.light-mode2 .comentario-form button {
  background-color: var(--color-blue);
  color: var(--color-white);
}
.light-mode2 .comentario strong {
  color: var(--color-blue);
}
.light-mode2 .content-container {
  color: var(--color-black);
}
.light-mode2 .card-titulo h3 {
  border-left: 2px solid var(--color-blue);
}
.light-mode2 .card .overlay h1.truncate-text-title {
  color: var(--color-blue);
}
.light-mode2 .login-2 {
  color: var(--color-black);
  border: 1px solid var(--color-blue);
  background-color: var(--background-lighter);
}
.light-mode2 hr {
  color: var(--color-blue);
}
.light-mode2 .button-login {
  background-color: var(--color-blue);
  color: var(--color-white);
}
.light-mode2 .titulo-h2 {
  color: var(--color-black);
}
.light-mode2 .login-1 {
  color: var(--color-black);
}
.light-mode2 .nav-secondary a:hover {
  color: var(--color-blue);
}
.light-mode2 a {
  color: var(--color-blue);
}
.light-mode2 a:hover {
  color: var(--color-blue-hover);
}
.light-mode2 .dropdown-content a {
  color: var(--color-black);
}
.light-mode2 .dropdown-content {
  background-color: var(--background-lighter);
}
.light-mode2 .dropdown-content2 a {
  color: var(--color-black);
}
.light-mode2 .dropdown-content2 {
  background-color: var(--background-lighter);
}
.light-mode2 .tabla-noticias th {
  background-color: var(--color-blue);
  color: var(--color-white);
}
.light-mode2 .tabla-noticias td {
  border: 1px solid var(--color-gray);
  color: var(--color-black);
}
.light-mode2 .tabla-noticias a {
  color: var(--color-blue);
}
.light-mode2 .tabla-noticias a:hover {
  color: var(--color-blue-hover);
}
.light-mode2 .tabla-perfil {
  border: 1px solid var(--color-gray);
  color: var(--color-white);
}
.light-mode2 .tabla-perfil th,
.light-mode2 .tabla-perfil td {
  border: 1px solid var(--color-gray);
  color: var(--color-white);
}
.light-mode2 .tabla-perfil td {
  color: var(--color-black);
}
.light-mode2 .tabla-perfil th {
  background-color: var(--color-blue);
}
.light-mode2 .link-editar {
  background-color: var(--color-blue);
  color: var(--color-white);
}
.light-mode2 .link-editar:hover {
  background-color: var(--color-blue-hover);
  color: var(--color-white)
}
.light-mode2 .nav-menu-right2 .nav-dropdown .dropdown-content a:hover {
  color: var(--color-blue-hover) !important;
}
.light-mode2 .nav-menu-right2 .nav-dropdown .dropdown-content2 a:hover {
  color: var(--color-blue-hover) !important;
}
.light-mode2 .nav-menu-right3 .nav-dropdown .dropdown-content a:hover {
  color: var(--color-blue-hover) !important;
}
.light-mode2 .nav-menu-right3 .nav-dropdown .dropdown-content2 a:hover {
  color: var(--color-blue-hover) !important;
}
.light-mode2 #closeButtonMarcador:hover {
  background-color: var(--color-blue);
}
.light-mode2 #resetButtonMarcador:hover {
  background-color: var(--color-blue);
}
.light-mode2 #closeButton:hover {
  background-color: var(--color-blue);
}
.light-mode2 #resetButton:hover {
  background-color: var(--color-blue);
}
.light-mode2 .form-field input[type="text"] {
  background-color: var(--background-lighter);
  border: 1px solid var(--color-blue);
  color: var(--color-black);
}
.light-mode2 .form-field textarea {
  background-color: var(--background-lighter);
  border: 1px solid var(--color-blue);
  color: var(--color-black);
}
.light-mode2 .uploaded-image-name {
  background-color: var(--background-lighter);
  border: 1px solid var(--color-blue);
  color: var(--color-black);
}
.light-mode2 .custom-file-button {
  background-color: var(--color-blue);
  color: var(--color-white);
}
.light-mode2 select#id_estado {
  background-color: var(--color-blue);
  color: var(--color-white);
}
.light-mode2 .form-container label {
  color: var(--color-black);
}
.light-mode2 .modal-content2 {
  background-color: var(--background-lighter);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: var(--color-black);
}
.light-mode2 #siBorrar {
  background-color: var(--color-blue);
  color: var(--color-white);
}
.light-mode2 #siBorrar:hover {
  background-color: var(--color-blue-hover);
}
.light-mode2 #noBorrar {
  background-color: var(--color-blue);
  color: var(--color-white);
}
.light-mode2 #noBorrar:hover {
  background-color: var(--color-blue-hover);
}
@media (max-width: 810px) {
  .light-mode2 .nav-menu-mid {
    background: var(--background-white);
    border: var(--color-gray);
  }
}
.light-mode2 p {
  color: var(--color-black);
}
.light-mode2 h1 {
  color: var(--color-black);
}
.light-mode2 h3 {
  color: var(--color-black);
}
.light-mode2 .menu-btn i {
  color: var(--color-black);
}
.light-mode2 .card{
  border: var(--background-white);
}
.light-mode2 .overlay p{
  color: var(--color-white);
}
.light-mode2 .photo_container h2 {
  color: var(--color-white);
}
.light-mode2 .btn-close {
  background-color:var(--color-white);
}
.light-mode2 .btn-close:hover{
  background-color: var(--color-blue);
}
@media (max-width: 810px) {
  .light-mode2 .info-divider {
    border-left: none;
  }
}